/* MAIN */



  body {
    font-family: arial;
    font-size: 1em;
  }

  .container {
    width: 450px;
  }



/* END MAIN */



/* HEADER */



  .header {
    width: 100%;
    font-weight: bold;
  }

  .monthyear {
    text-align: center;
    width: 80%;
  }

  .direction {
    opacity: 0.3;
    background: #efefef;
    text-align: center;
    width: 10%;
  }

  .direction.on {
    opacity: 1;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
  }

  .direction.on:hover {
    background: #afafaf;
    cursor: pointer;
  }

  .inline {
    display: inline-block;
  }



/* END HEADER */



/* WRAPPER */

  .wrapper {
    margin-top: 10px;
    border: 2px solid #cfcfcf;
    float: left;
    height: 370px !important;
  }

  .calendar {
    padding: 10px;
  }

  .times {
    padding-left: 5px;
    border-left: 2px solid #cfcfcf;
    overflow-y:auto; 
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 70px;
  }

  .times,
  .calendar {
    float: left;
  }

  .calendar-table {
    border-collapse: collapse;
    text-align: center;
    margin: 1px 1px 1px 1px;
  }

  .today {
    background-color: #FFEBC2;
  }

  .pastday {
    opacity: 0.3;
  }

  .disabled {
    border: 1px solid #dfdfdf;
    background-color: white;
    color: red;
    padding: 0;
    font-size: 2em;
    font-family: arial;
    opacity: 0.3;
  }

  .pastday,
  .calendar-day,
  .empty {
    border: 1px solid #dfdfdf;
    padding: 15px;
    transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
  }

  .datetime:hover,
  td:hover {
    cursor: pointer;
  }

  .datetime:hover,
  .calendar-day:hover {
    background-color: #D6EBFF;
  }

  .header,
  .daynames {
    line-height: 2em;
  }

  .previous {
    border-bottom-right-radius: 5px;
  }

  .next {
    border-bottom-left-radius: 5px;
  }

  .clicked,
  .clicked:hover {
    background-color: #96A4B2;
    color: white;
  }

  .datetime {
    padding: 2px;
    margin: 5px 0 5px 0;
  }



/* END WRAPPER */