.adddate:disabled {
  opacity: 0.5;
}

#dp-container {
  font-family: arial;
  font-size: 1em;
}

#dp-container .container {
  display: none;
  position: absolute;
  margin-top: 15px;
  float: left;
  background-color: white;
}

#dp-container .fa-calendar,
#dp-container .select {
  display: inline-block;
}

#dp-container .select {
  margin-right: 10px;
}

#dp-container .adddate {
  background-color: #80CC99;
  border-radius: 10px;
  color: black;
  margin-left: 10px;
}

#dp-container .adddate:hover {
  cursor: pointer;
}

#dp-container .availabledates {
  margin: 0 10px 0 10px;
}

#dp-container .icon-calendar {
  margin: 0 10px 0 0;
}

#dp-container .container .header {
  display: block;
  font-weight: bold;
  border: 2px solid white;
}

#dp-container .monthyear.large {
  text-align: center;
  width: 245px;
}

#dp-container .monthyear.small {
  width: 95px;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 0 10px 0 10px;
}

#dp-container .direction {
  opacity: 0.3;
  color: white;
  border: 1px solid #afafaf;
  background: #02A7E7;
  text-align: center;
}

#dp-container .direction.large {
  width: 94px;
}

#dp-container .direction.small {
  width: 31px;
  font-size: 0.8em;
  line-height: 1.4em;
}

#dp-container .direction.on {
  opacity: 1;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

#dp-container .direction.on:hover {
  background: #FFEF85;
  color: black;
  cursor: pointer;
}

#dp-container .inline {
  display: inline-block;
}

#dp-container .scrollbar.active:hover {
  border: 1px solid #676767;
}

#dp-container .scrollbar.active {
  background-color: #02A7E7;
  border: 1px solid #02A7E7;
  cursor: pointer;
  color: white;
}

#dp-container .scrollbar {
  opacity: 1;
  color: black;
  background-color: #efefef;
  border: 1px solid #efefef;
  height: 20px;
}

#dp-container .scrollbar.active:hover {
  background-color: #FFEF85;
  border: 1px solid #FFEF85;
  color: black;
}

#dp-container .scrolly {
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 299px;
  width: 80px;
}

#dp-container .wrapper {
  margin-top: 10px;
  border: 1px solid #565656;
  float: left;
  position: relative;
  height: 343px !important;
  z-index: 100;
}

#dp-container .datepicker {
  border-right: 1px solid #565656;
}

#dp-container .times {
  text-align: center;
  background-color: white;
}

#dp-container .times,
#dp-container .datepicker {
  float: left;
}

#dp-container .datepicker-table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

#dp-container .datepicker-table td {
  overflow: hidden;
  width: 20px;
}

#dp-container .today {
  border: 2px dashed rgba(45, 108, 134, 0.6);
}

#dp-container .today,
#dp-container .outofrange,
#dp-container .pastday {
  color: #cfcfcf;
}

#dp-container td {
  background-color: white;
}

#dp-container tbody td {
  border: 1px solid #dfdfdf;
}

#dp-container .inactive {
  background-color: white;
  color: #FFB2B2;
  padding: 0;
  font-family: arial;
}

#dp-container .weekend {
  background-color: #ffffee;
}

#dp-container .datepicker-header-day {
  font-weight: 600;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #efefef;
    border-left: 1px solid white;
}

#dp-container .pastday,
#dp-container .datepicker-day,
#dp-container .empty,
#dp-container .outofrange {
  border: 1px solid #dfdfdf;
  padding: 15px;
}

#dp-container .datetime,
#dp-container .pastday,
#dp-container .datepicker-day,
#dp-container .empty {
  transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -webkit-transition: background .15s ease-in-out;
}

#dp-container .empty {
  color: white;
}

#dp-container .datetime:hover,
tbody td:hover {
  cursor: pointer;
}

#dp-container .datetime:hover,
#dp-container .datepicker-day.active:hover {
  background-color: #D6EBFF;
}

#dp-container .container .header,
#dp-container .container .daynames {
  line-height: 2em;
}

#dp-container .clicked,
#dp-container .clicked:hover {
  background-color: black !important;
  color: white !important;
}

#dp-container .datetime {
  padding: 2px;
  margin: 5px 0 5px 0;
  border-bottom: 1px solid #efefef;
}

#dp-container .icon-calendar:hover {
  cursor: pointer;
}

/**
 * FONTELLO FONTS
 */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?18174428');
  src: url('../font/fontello.eot?18174428#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?18174428') format('woff'),
       url('../font/fontello.ttf?18174428') format('truetype'),
       url('../font/fontello.svg?18174428#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
 
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-sort-down:before { content: '\e801'; } /* '' */
.icon-sort-up:before { content: '\e802'; } /* '' */